streamlit
requests
python-dotenv
fastapi
uvicorn
pydantic
annotated-doc
annotated-types
anyio
certifi
charset-normalizer
click
h11
idna
pydantic_core
starlette
typing-inspection
typing_extensions
urllib3
